*{
    margin: 0;
    box-sizing: border-box;
}
.bg-color-common{
  background-color: #23252F;
}
.display-flex{
    display: flex;
}
.common_design_main {
  height: 100vh;
  display: flex;
  align-items: center;
  width: 55%;
  padding: 0px 6vw;
}
.para1 {
  color: #fff;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.para-18px {
  color: #fff;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}
.heading-class {
  color: #fff;
  font-family: Arial;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 131.25% */
}